/* ==========================================================================
Styles for Content component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/main";

// Start styles Content component
.o-content {
  margin: 0 150px;
  text-align: center;
  padding: 20px;

  @include respond (phone) {
    padding-top: 50px;
  }

  @media only screen and (max-width: 849px) {
    margin: 0 50px;
  }

  @media only screen and (max-width: 650px) {
    margin: 0 10px;
  }


  .list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

}
