/* ==========================================================================
Styles for Header component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/main";

// Start styles Header component
.o-Header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 110.85px;
  padding: 20px 70px;
  .header-title {
    font-family: 'Press Start 2P';
    color: $dark-orange;
    font-weight: 700;
  }

  .list-menu {
    li {
      cursor: pointer;
      display: inline-block;
      padding: 20px;
      text-align: center;
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    div {
      width: 20px;
      height: 2px;
      background-color: $outer-space;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }

  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-4px, 6px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-4px, -6px);
    }
  }
}

@include respond (phone) {
  .o-Header {
    height: 60px;
    padding: 15px 60px;
  
    .list-menu {
      position: absolute;
      top: 100px;
      width: 100%;
      padding: 10px;
      background-color: $white;
      margin-left: -70px;
      text-align: center;
      transform: translateY(-100%);
      transition: transform 0.5s ease-in;
      z-index: 1;

      li {
        padding: 0px 60px;
        font-size: 18px;
        opacity: 0;
      }
    }

    .nav-active {
      transform: translateY(0%);
    }

    .header-title {
      z-index: 30;
    }
    .burger {
      display: block;
      z-index: 30;
    }

  }
}



// @include respond(mini) {
//   .o-Header {
//     padding: 5px 20px;
//   }
// }







