/* ==========================================================================
Styles for Input component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/main";

// Start styles Input component
.a-input {
  padding: 20px;
  border: 0;
  outline: none;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 5px $outer-space;
    transform: translateY(-2px);
  }
}

.full {
  width: 90%;
  overflow: hidden;
}

@include respond (mini-phone) {
  .full {
    width: 80%;
  }
}